.App {
  text-align: center;
}

.App-header,
.App-footer {
  background-color: #50504a;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-footer {
  font-size: small;
}

.Uploads-select {
  background: #a44031;
  margin: 20px;
  padding: 20px;
  display: inline-block;
  color: white;
}

.Results-table {
  width: 100%;
}

.Results-table td {
  text-align: center;
  border-top: 1px solid #556270;
  padding: 15px;
  text-shadow: white 0 0 10px;
}

.Results-table th {
  padding: 15px;
}

.Results-table img,
.Results-table canvas {
  max-width: 100%;
}

button,
[role="button"] {
  color: white;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}
